body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #33f2b9;
}
h1 {
  font-size: 40px;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
img:hover {
  transform: scale(1.15);
}

#container {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #acd8e3;
  padding: 25px;
  width: 80vw;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-sections {
  display: flex;
  justify-content: space-around;
}

#rBox {
  width: 100px;
}

#pBox {
  width: 100px;
}

#sBox {
  width: 100px;
}

#tBox {
  width: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#score {
  width: 100px;
  font-size: 20px;
  justify-self: left;
}

#space {
  width: 100px;
}

@media screen and (max-width: 480px) {
  #tBox {
    font-size: 10px;
  }
  #score {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
  img {
    width: 60px;
    height: 60px;
  }

  h2 {
    font-size: 15px;
  }
}
